[Unit]
Description=Run IG Monitor immediately after waking up
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

[Service]
Type=oneshot
User=rain
WorkingDirectory=/home/rain/Downloads/storytracker
# Give the system 10 seconds to re-establish Wi-Fi/network connection
ExecStartPre=/bin/sleep 10
ExecStart=/bin/bash /home/rain/Downloads/storytracker/sync_cookie.sh

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
