[Unit]
Description=Automated Instagram Story Notifications
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/rain/Downloads/storytracker
ExecStart=/bin/bash /home/rain/Downloads/storytracker/sync_cookie.sh
StandardOutput=append:/home/rain/Downloads/storytracker/monitor.log
StandardError=append:/home/rain/Downloads/storytracker/monitor.log
User=rain
